body{
    background-color: gray;
}
button{
    margin-left: 670px;
    font-family: 'Nosifer', cursive;
    border: 5px solid white;
    color: white;
    margin-top: 50px;
    background-color: rgb(90, 107, 201);
    border-radius: 20px;
    padding: 10px;
    }
h1{
    font-family: 'Nosifer', cursive;
    text-align: center;
}
p{
    font-family: 'Nosifer', cursive;
    text-align: center;
}
a{
    margin-left: 47%;
}
    